.registerContainer{
    width: 300px;
    height: 250px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: slateblue;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.registerButton{
    border:none;
    border-radius: 5px;
    background-color: slateblue;
    color: white;
}

.success{
    color: green;
    font-size: 12px;
    text-align: center;
}

.failure{
    color: red;
    font-size: 12px;
    text-align: center;
}

.closeRegister{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: slateblue;
}
input,textarea{
    border: none;
    border-bottom: 1px solid grey;
}
.register{
    background-color: rgb(0, 128, 58);
}
